<div class="panel panel-default">
    <div class="panel-body">

        <div class="row">
            <div class="col-md-4">
                <dl>
                    <dt>Tipo de proyecto</dt>
                    <dd>{{ proyecto.tipo }}</dd>
                </dl>
            </div>
            <div class="col-md-4">
                <dl>
                    <dt>Número de proyecto</dt>
                    <dd>{{ proyecto.numero }}</dd>
                </dl>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-7 col-lg-offset-5">

        {{ form_start(delete_form) }}
        <button type="button" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
        <input class="btn btn-danger" type="submit" value="Eliminar" onclick="return confirm('¿Estás seguro de eliminar este registro?')">
        {{ form_end(delete_form) }}

    </div>
</div>