.page-header {
    border-bottom: 1px solid #eee;
    margin: 6px 0 6px;
    padding-bottom: 9px;
}

li:hover {
     background: none repeat scroll 0 0 #FCFCFC;
     border-color: #D9D9D9;
 }

.user-info {
    color: #666666;
    font-size: 15px;
}