<div class="panel panel-default">

    <div class="panel-body">

        <div class="row">
            <div class="col-md-12">
                <dl>
                    <dt>Programa</dt>
                    <dd>{{ estudiante.programa }}</dd>
                </dl>
            </div>
            <div class="col-md-12">
                <dl>
                    <dt>Tesis</dt>
                    <dd>{{ estudiante.tesis }}</dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-7 col-lg-offset-5">

        {{ form_start(delete_form) }}
        <button type="button" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
        <input class="btn btn-danger" type="submit" value="Eliminar" onclick="return confirm('¿Estás seguro de eliminar este registro?')">
        {{ form_end(delete_form) }}

    </div>
</div>